<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">true</property> 
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping resource="Student.hbm.xml"/>
        <!--    <mapping resource="org/samples/Address.hbm.xml"/>
        <mapping resource="org/samples/Employee.hbm.xml"/>
        <mapping resource="org/samples/Mark.hbm.xml"/>
        <mapping resource="org/samples/Person.hbm.xml"/>
        <mapping resource="org/samples/Passport.hbm.xml"/>
        <mapping resource="org/samples/Audit.hbm.xml"/>
        <mapping resource="org/samples/Product.hbm.xml"/>
        <mapping resource="org/samples/Batchtab.hbm.xml"/>
        <mapping resource="org/samples/Hilotab.hbm.xml"/>
        <mapping resource="org/samples/State.hbm.xml"/>
        <mapping resource="org/samples/City.hbm.xml"/>
        <mapping resource="org/samples/Family.hbm.xml"/>
        <mapping resource="org/samples/Salary.hbm.xml"/>
        <mapping resource="org/samples/Recruitement.hbm.xml"/>
        <mapping resource="org/samples/Version.hbm.xml"/>
        <mapping resource="org/samples/Stock.hbm.xml"/>
        <mapping resource="org/samples/Stockdailydetails.hbm.xml"/>
        <mapping resource="org/samples/Attendence.hbm.xml"/>
        <mapping resource="org/samples/Flight.hbm.xml"/>
        <mapping resource="org/samples/Country.hbm.xml"/>
        <mapping resource="org/samples/Languag.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>
